<!doctype>
%html
  %head
    %title
      Uploader

    %style{ :type => "text/css" }
      body {
      margin:0;
      padding:0;
      }
      
    %link{ :href => "http://yui.yahooapis.com/2.6.0/build/fonts/fonts-min.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "http://yui.yahooapis.com/2.6.0/build/datatable/assets/skins/sam/datatable.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :src => "http://yui.yahooapis.com/2.6.0/build/yahoo-dom-event/yahoo-dom-event.js", :type => "text/javascript" }
    %script{ :src => "http://yui.yahooapis.com/2.6.0/build/element/element-beta-min.js", :type => "text/javascript" }
    %script{ :src => "http://yui.yahooapis.com/2.6.0/build/uploader/uploader-experimental.js", :type => "text/javascript" }
    %script{ :src => "http://yui.yahooapis.com/2.6.0/build/datasource/datasource-min.js", :type => "text/javascript" }
    %script{ :src => "http://yui.yahooapis.com/2.6.0/build/datatable/datatable-min.js", :type => "text/javascript" }

    %link{ :href => "/css/default.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
    
  %body
    .container
      #content.span-12.prepend-6.append-6
      %h1 Uploader
      = yield