#uiElements{ :style => "display:inline;" }
  #uploaderContainer
    #uploaderOverlay{ :style => "position:absolute; z-index:2" }
    #selectFilesLink{ :style => "z-index:1" }
      %a#selectLink{ :href => "#" }
        Select Files
  #uploadFilesLink
    %a#uploadLink{ :href => "#", :onclick => "upload(); return false;" }
      Upload Files
#simUploads
  Number of simultaneous uploads:
  %select#simulUploads
    %option{ :value => "1" }
      1
    %option{ :value => "2" }
      2
    %option{ :value => "3" }
      3
    %option{ :value => "4" }
      4
#dataTableContainer

%script{ :src => "js/app.js", :type => "text/javascript" }